.generalinfo {
    text-align: center;
    width: 100%;
    color: var(--custom-font-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width: 700px){
    .generalinfo{  
        font-size: 20px;
    }
}
