.columnStyle {
    height: 360px;
    overflow: auto;
}

.semParent {
    display: flex;
    flex-wrap: wrap;
}

.semChild {
    flex-basis: 20%;
}

.semButtonFrame {
    height: 350px;
    width: 250px;
    padding: 4px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}